body {
    color: Black;
    font-family: 'Georgia';
    text-align: center;
    padding: 0;
    margin: 0;
    /* background-color: #FFB7A1; */
}


.jumbotron {
  background-color: #5F9595;
}

#selCounty {
  text-align: center;
}

.panel-heading {
  background-color: #C2D7D0 !important;
}

.panel-title {
  color: black;
}

h3{
  color: black;
}

h2 {
  color: #EFBC68;
}
h1{
  text-align: center;
} 

p {
  color: black;
}

select {
  width: 100%;
}

.well {
  text-align: center;
  background-color: #EFBC68;
}



/* #167070 Dark Teal */
/* #44857D Light Teal */
/* #FE6625 Orange */
/* #FB9334 Light Orange */
/* #414A4F Charcoal */
/* #003D59 Navy */